body {
  background-color: rgb(250, 250, 250);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.image {
  max-width: 370px;
  width: 100%;
  height: auto;
  margin-top: 50px;
}

@media (max-width: 770px) {
  .container {
    margin: 0 5%;
  }

  .image {
    width: 100%;
  }
}
